.manual-lrl-scan {
  background-color: black;
}

.manual-lrl-scan .gauge {
  width: 309px;
  height: 182px;
  background-image: url(../../../Assets/MenuIcons/gauge.png);
  position: absolute;
  top: 20px;
  left: 220px;
}

.manual-lrl-scan .gauge .gauge-dial {
  position: relative;
  left: 141px;
  top: 28px;
  transform-origin: 15px 130px;
  animation: gauge 4s infinite linear;
}

@keyframes gauge {
  0% {
    transform: rotate(-80deg);
  }
  50% {
    transform: rotate(80deg);
  }
  100% {
    transform: rotate(-80deg);
  }
}



.compass {
  width: 110px;
  height: 110px;
  background-image: url(../../../Assets/MenuIcons/compas-mid.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 30px;
  left: 30px;
}

.compass-out{
  transition: all 1000ms;
  transition-timing-function: linear;
}

.manual-lrl-scan .manual-signal{
  position: absolute;
  top: 230px;
  left: 200px;
}

.manual-signal path{
  animation: patha 0.3s linear infinite;
}

@keyframes patha{
  100%{
    transform: translateX(-30px);
  }
}