.device-ground-scan-properties {}

.dgsp-tabs {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dgsp-tab {
  color: whitesmoke;
  width: 20%;
  height: 45px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #8a7940;
  transition: background .6s;
}

.dgsp-tab.selected {
  background: #d3be7b;
  color: black;
}

.dgsp-content{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  height: 200px;
}