.reset-factory{
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: scale(0.8);
  transition: all 0.7s;
  opacity: 0;
}

.reset-question{
  color: white;
  font-size: 20px;
  padding: 0px 20px 0px 20px;
  text-align: center;
}

.reset-answers{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
}

.reset-button{
  border: 2px solid white;
  color: white;
  min-width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  border-radius: 20px;
}

.reset-preloader{
  position: absolute;
  width: 680px;
  height: 250px;
  background: black;
  border: 2px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: popupIn 1s 1;
}

.reseting-text{
  color: black;
  font-size: 25px;
}

.reset-progress-bar-container{
  width: 600px;
  height: 50px;
  border: 3px solid black;
  margin-top: 20px;
  border-radius: 10px;
  background: black;
  overflow: hidden;
}

.reset-progress-bar{
  width: 0%;
  height: 100%;
  background: linear-gradient(0deg, rgba(34,65,12,1) 0%, rgba(141,255,85,1) 86%, rgba(83,255,0,1) 100%);
  transition: 3s all;
  transition-delay: 400ms;
}

@keyframes popupIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}