.scan-screen{
  display: flex;
  background: #000;
}


.canvas-container{
  width: 563px;
  height: 100%;
  background: #000;
}

.scan-screen-details{
  /* background: red; */
  width: 187px;
  height: 100%;
  margin-right: 3px;
}