.lock-screen {
  position: absolute;
  z-index: 1000;
  background: black;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lock-screen .lock-icon {
  animation: slide-in-bck-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 1;
  position: absolute;
}

@keyframes slide-in-bck-top {
  0% {
    transform: translateZ(700px) translateY(-300px);
    opacity: 0;
  }
  50% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.lock-screen .lock-holder {
  opacity: 0;
  transition: 1s all;
  transform: scale(0.6);
  width: 250px;
}

.lock-holder .pin {
  height: 60px;
  color: white;
  width: 240px;
  text-align: center;
  padding: 0px 20px 0px 20px;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0px;
  border: 3px solid #292929;
  margin-bottom: 10px;
  border-radius: 20px;
  background: rgb(59, 59, 59);
}

.num-pad {
  height: 340px;
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 25% 25% 25% 25%;
  justify-items: center;
  align-items: center;
  background: rgb(19, 17, 14);
  padding: 15px;
  border-radius: 30px;
  border: 3px solid #292929;
}

.lock-holder .key {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 74px;
  font-size: 34px;
  border: 3px solid #8a7940;
  color: #8a7940;
  background: #000;
}

.key.selected {
  transition: background 0.3s;
  color: black;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.digit{
  margin: 0px 10px 0px 10px;
  background: rgb(59, 59, 59);
  width: 40px;
  display: inline-block;
}

.popup{
  position: absolute;
  z-index: 4;
  width: 500px;
  height: 250px;
  background: black;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  border: 3px solid red;
  color: red;
}

.black-overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background: rgba(0, 0, 0, 0.637);
  display: flex;
  justify-content: center;
  align-items: center;
}