.live-stream-component {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all 1s;
}

.live-stream-top {
  height: 285px;
  display: flex;
}

.live-stream-bottom {
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.stream-plot {
  width: 580px;
  height: 100%;
}

.stream-orientation {
  width: 176px;
  height: 285px;
  background-image: url(../../../Assets/MenuIcons/orientation-indicator.jpg);
  background-repeat: no-repeat;
  background-position: right;
}

.stream-orientation .line {
  width: 2px;
  height: 260px;
  background: white;
  position: relative;
  right: -90px;
  top: 13px;
}

.stream-orientation .line .indicator-angle {
  color: white;
  font-size: 12px;
  position: relative;
  left: -60px;
  top: 123px;
}

.stream-orientation .line .indicator-angle::after {
  content: " ";
  width: 15px;
  height: 2px;
  background: red;
  position: absolute;
  left: 54px;
  top: 6px
}

.stream-plot canvas {
  background: lightblue;
  margin: 0px 20px 20px 20px;
  border: 2px solid white;
}

.sensor-numeric-value {
  color: white;
  background: #000;
  font-size: 2em;
  width: 120px;
  text-align: center;
  height: 80px;
  border: 4px solid white;
  border-radius: 20px;
  margin-left: 30px;
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}

.live-stream-calibration {
  background: rgb(0, 0, 0);
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calibration-warning {
  color: white;
  margin-top: 20px;
}

.calibration-preloader-holder {
  border: 2px solid white;
  margin-top: 30px;
  width: 400px;
  height: 50px;
  border-radius: 20px;
  overflow: hidden;
}

.calibration-preloader-value {
  transition: width .1s;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  width: 10%;
  height: 100%;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.speed-holder {
  color: white;
  width: 80px;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 40px;
  margin-right: 120px;
}

.speed-holder .speed-icon {
  width: 48px;
  filter: invert(100%);
  margin-right: 20px;
  margin-top: 4px;
}

.speed-holder span {
  margin: 5px 20px 0px 20px;
  min-width: 30px;
  text-align: center;
}

.speed-holder .arrows {
  margin-top: 3px;
}