.live-stream-component {
  background: black;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all 1s;
}

.live-stream-top {
  height: 285px;
  display: flex;
}

.live-stream-bottom {
  height: 80px;
}

.stream-plot {
  width: 580px;
  height: 100%;
}

.stream-orientation {
  width: 176px;
  height: 285px;
  background-image: url(../../../Assets/MenuIcons/orientation-indicator.jpg);
  background-repeat: no-repeat;
  background-position: right;
}

.stream-orientation .line {
  width: 2px;
  height: 260px;
  background: white;
  position: relative;
  right: -90px;
  top: 13px;
}

.stream-orientation .line .indicator-angle {
  color: white;
  font-size: 12px;
  position: relative;
  left: -60px;
  top: 123px;

}

.stream-orientation .line .indicator-angle::after {
  content: " ";
  width: 15px;
  height: 2px;
  background: red;
  position: absolute;
  left: 54px;
  top: 6px
}

.stream-plot canvas {
  background: lightblue;
  margin: 0px 20px 20px 20px;
  border: 2px solid white;
}

.sensor-numeric-value{
  color: white;
  background: #000;
  font-size: 65px;
  width: 120px;
  text-align: center;
  height: 80px;
  border: 4px solid white;
  border-radius: 20px;
  margin-left: 30px;
  margin-top: 90px;
}