.auto-lrl-component {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  transition: 1s all;
  background: black;
  opacity: 0;
}

.auto-lrl-component .auto-lrl-indicator{
  width: 600px;
  height: 130px;
  margin-top: 40px;
}

.auto-lrl-component .auto-lrl-direction{
  color: white;
  font-size: 22px;
  margin-top: 20px;
  background: #000;
  padding: 5px 15px 5px 15px;
}

.auto-lrl-button{
  margin-top: 30px;
  background: red;
  padding: 5px 15px 5px 15px;
  font-size: 25px;
  color: white;
  border-radius: 10px;
}

.auto-lrl-scan{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.auto-lrl-scan rect{
  transition: .8s all;
}