.time-seperator{
  color: white;
  width: 30px;
  text-align: center;
  font-size: 40px;
}

.date-time-info{
  color: white;
  position: absolute;
  bottom: 10px;
}

.date-time-label{
  color: white;
  text-align: center;
  margin-bottom: 5px;
  font-size: 14px;
}