.sensor-control {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sensor-control .sc-popup {
  margin-top: 60px;
  width: 600px;
  height: 250px;
  background: black;
  border: 2px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sensor-control .sc-popup .title {
  color: white;
  font-size: 20px;
  text-align: center;
}

.sc-popup .indicator-container {
  width: 400px;
  height: 50px;
  border: 2px solid rgb(255, 255, 255);
  margin-top: 20px;
  overflow: hidden;
  border-radius: 10px;
}

.sc-popup .indicator-value {
  transition: width 3s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 0%;
  height: 100%;
  background: rgb(0, 135, 79);
  background: linear-gradient(180deg, rgba(0, 135, 79, 1) 50%, rgba(178, 255, 74, 1) 100%);
}

.control-video {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 99;
}

.sensor-control .warning{
  z-index: 100000;
  background: red;
  position: absolute;
  bottom: 50px;
  transform: translate(-50% -50%);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-size: 28px;
}