.sensor-control{
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
}

.sensor-control video{
  border: 2px solid white;
}
