.carousel-component{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-buttons{
  width: 82.5%;
  height: 88.2%;
  overflow: hidden;
}

.carousel-button{
  background-image: url(../../Assets/MenuIcons/button-border.png);
  background-repeat: no-repeat;
  width: 33%;
  height: 80%;
  background-position-y: 30px;
  background-size: 180px;
  color: white;
  text-align: center;
  position: relative;
  transition: 0.4s all;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* transition-delay: 300ms; */
  margin: 0px 20px 0px 20px;
  opacity: 0.6;
  text-align: center;
  white-space: nowrap;
}

.carousel-title{
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  position: absolute;
  top: 205px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-icon{
  margin-top: 32px;
  width: 180px;
}

.slider{
  transition: 0.3s all;
  transition-timing-function: ease-in-out;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

.carousel-button.selected{
  opacity: 1;
  transform: scale(1.4);
}

.indicator{
  position: absolute;
  top: 20px;
  left: -10px;
  width: 200px;
  height: 200px;
  animation: rotate 2.4s linear infinite;
}

@keyframes rotate{
  100%{
    transform: rotate(360deg);
  }
}

.left-arrow{
  position: absolute;
  top: 120px;
  left: 30px;
  transition: 0.4s opacity;
}

.right-arrow{
  position: absolute;
  top: 120px;
  right: 30px;
  transition: 0.4s opacity;
}

.show{
  opacity: 1;
}

.hide{
  opacity: 0;
}