.scan-viewer-component {
  background: #000;
}

.sv-top {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sv-bottom {
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sv-bottom-panel {
  min-width: 80px;
  height: 50px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.sv-bottom-panel .title {
  margin-top: 4px;
  font-size: 14px;
  color: #ffffff;
}

.sv-bottom-panel .value {
  margin-bottom: 6px;
  color: #ffffff;
  font-size: 22px;
}

.sv-bottom-panel .line-graph-container{
  width: 120px;
  height: 20px;
  background: #000;
  margin-bottom: 10px;
}

.sv-bottom-panel .line-graph-container .line-value{
  height: 100%;
}

.sv-bottom-panel span{
  color: white ;
  z-index: 100;
  float: right;
  font-size: 13px;
  margin-top: 4px;
}

.sv-scan-container {
  width: 650px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sv-buttons {
  width: 106px;
  height: 280px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.sv-button {
  width: 45px;
  height: 45px;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  padding: 5px;
  border-radius: 4px;
}

.sv-button.selected {
  border: 2px solid #FDB931;
  background: rgb(49, 49, 49);
  padding: 3px;
}

