.turn-off {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #000; */
  color: white;
  transition: 0.8s all;
  opacity: 0;
  perspective: 300px;
  transform: scale(0.1) rotate3d(1, 1, 1, 45deg);
}

.turn-off .question {
  width: 650px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background: rgb(15, 15, 15);
  border-radius: 15px;
  white-space: nowrap;
  overflow: hidden;
}

.turn-off-buttons {
  width: 500px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.turn-off-buttons .button {
  width: 50%;
  height: 100%;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  border: 2px solid #8a7940;
  margin-top: 20px;
  background: black;
}

.button:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
}

.button:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
}

.turn-off-icon {
  margin-bottom: 20px;
  animation: icon-anim 2s ease-in-out 1s infinite;
}

@keyframes icon-anim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(1);
  }
}

.device-version-number {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: end;
  box-sizing: border-box;
  padding-right: 10px;
  font-size: 14px;
  animation: version-number 1s linear 3s 1 both;
}

@keyframes version-number {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}