.turn-off {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #000; */
  color: white;
  transition: 1s all;
}

.turn-off .question {
  width: 650px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background: rgb(15, 15, 15);
  border-radius: 15px;
}

.turn-off-buttons {
  width: 500px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.turn-off-buttons .button {
  width: 50%;
  height: 100%;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  border: 2px solid #8a7940;
  margin-top: 20px;
  transition: .5s all;
}

.button:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
}

.button:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
}


.turn-off-icon{
  margin-bottom: 20px;
}