.turn-off {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  color: white;
  transition: 1s all;
}

.turn-off .question {
  width: 650px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background: rgb(27, 27, 27);
  border-radius: 15px;
  margin-top: 15px;
}

.turn-off-buttons {
  width: 500px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.turn-off-buttons .button {
  width: 50%;
  height: 100%;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  border: 2px solid #8a7940;
  margin-top: 20px;
  transition: .5s all;
}

.button:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
}

.button:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
}

.button.selected {
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(114, 90, 26);
}

.turn-off-icon{
  margin-bottom: 20px;
}