.pin-pointer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #00000000;
}

.pin-pointer-lines {
  position: absolute;
  /* background: #000; */
}

.pinpointer-button-container {
  width: 700px;
  height: 80px;
  position: absolute;
  bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: black;
  border-radius: 10px;
}

.pinpointer-button {
  display: flex;
  align-items: center;
  height: 63px;
  padding: 0px 30px 0px 30px;
  border-radius: 10px;
  color: white;
  background: #000;
}

.pinpointer-button .label {
  margin-left: 15px;
  font-size: 13px;
}

.pinpointer-button img {
  width: 30px;
}

.pinpointer-button.selected {
  color: #000;
  font-weight: bold;
}

.pinpointer-button.selected img {
  filter: invert(1)
}