.sensitivity{
  color: white;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px 0px 15px;
  border-radius: 10px;
}

.sensitivity span{
  margin-right: 5px;
  font-size: 16px;
  height: 50px;
  width: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}