@font-face {
  font-family: 'RussoOne';
  src: url('./Assets/Fonts/Russo_One/RussoOne-Regular.ttf') format('truetype'), url('./Assets/Fonts/Russo_One/RussoOne-Regular.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'Morris';
  src: url('./Assets/Fonts/Morris/Morris-Sans-W01-Medium.ttf') format('truetype'), url('./Assets/Fonts/Morris/Morris-Sans-W01-Medium.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
  background-size: cover;
  font-family: Morris;
  /* background-image: url('./Assets/backgrounds/goldstar.png'); */
}

.component {
  margin-left: 22px;
  width: 756px;
  height: 367px;
  position: absolute;
  top: 100px;
  overflow: hidden;
}

.sleepmode-overlay {
  width: 100%;
  height: 100vh;
  background: black;
  z-index: 10000;
  position: absolute;
}

.lang-tr{
  font-family: RussoOne;
}