.change-pin-component {
  background: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.change-pin-component .keypad {
  width: 210px;
  height: 280px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 25% 25% 25% 25%;
  justify-items: center;
  align-items: center;
  border: 3px solid #806227;
  border-radius: 20px;
  margin-bottom: 20px;
}

.change-pin-component .keypad .key {
  width: 80%;
  height: 80%;
  background: #504835;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  border-radius: 20px;
  color: white;
}

.change-pin-component .key.selected {
  color: black;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}


.old-pin-label {
  color: white;
  font-size: 18px;
}

.pin-number {
  color: white;
  font-size: 40px;
  display: flex;
  width: 200px;
  height: 55px;
  justify-content: space-evenly;
  align-items: center;
}

.pin-number span {
  background: rgb(46, 46, 46);
  text-align: center;
  display: block;
  width: 40px;
  height: 45px;
  border-radius: 5px;
}

.change-pin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrong-pin-warning {
  width: 280px;
  background: red;
  border-radius: 20px;
  color: white;
  padding: 10px;
  text-align: center;
}